:root {
    --color-navbar: #0B0C0D;
    --color-fondo: #0F0F0F;
    --color-texto: #ffffff;
    --color-fondo-card: #181818;
    --color-fondo-card-links: #181818;
  }


.container-gallery{
    display: flex;
    justify-content: center;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1700px;
}

.card {
    width: 180px;
    max-width: 250px;
    border-radius: 15px;
    border: none; /* Elimina el borde */
    background: linear-gradient(145deg, var(--color-fondo), var(--color-fondo-card)); /* Fondo degradado moderno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1); /* Sombra elegante */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.card-content {
    padding: 20px;
    text-align: center;
    color: var(--color-texto); /* Valor por defecto si var() no está definido */
    font-family: 'Inconsolata', monospace;
}

.card-content h3 {
    font-weight: 600;
    color: var(--color-texto);
    font-size: 1.2rem; /* Tamaño de texto equilibrado */
    margin-bottom: 10px;
}




.card img{
    width: 100%;
    height: 215px;
    object-fit: cover;
    border-radius: 10px;
}

